.card{
    position: relative;
    width: 350px;
    height: 300px;
    background-color: var(--bg);
    border: 1px solid white;
    border-radius: 10px;

    &:hover{
        background-color: white;
        color: #000;
    }
}
.cart{
    position: relative;
    width: 350px;
     height: 480px;
    background-color: var(--bg);
    border: 1px solid white;
    border-radius: 10px;
}
.face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .price{
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }
    .price span{
        font-size: 1rem;
        text-decoration: line-through;
        font-weight: lighter;
    }

    .icons a{ 
        width: 2.4rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        border: var(--border);
        color: #fff;
        font-size: 1rem;
        margin: 0.3rem;
        cursor: pointer;
    }
    .starts i{
        font-size: 1rem;
        background-color: var(--main-color);
    }
}